:root {
  --primary-color: #212121;
  --black-color: #000000;
  --grey-color: #757575;
  --blue-color: #2196f3;
  --white-color: #ffffff;
}

body {
    font-family: "Roboto", sans-serif;
    color: #212121;
  }

ul {
    list-style: none;
  }

  /* Стиль шапка */

  .logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
  }

  .logo-item {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
  }

  .logo-footer {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
  }

  .link {
      color: #212121;
      text-decoration: none;
  }
    
  .link:hover,
  .link:focus {
      color: #2196f3;
  }

  .nav-contact a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
  }

  .button {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color:#212121;
    background-color: #F5F4FA;
  }

  .main .section-title.h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .team .section-title.h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .main .section-title.h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  .main .benefits-text {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;
  }

  .footer {
    background-color: #2f303a;
  }

  .footer-contact a {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  .address a {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .address.link:hover,
  .address.link:focus {
    color: #2196f3;
  }

  .address .street .link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  .address .street {
    color: #ffffff;
    text-decoration: none;
  }
  
  .address.link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }